<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76756c">  <td>14/04/08 15:56:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminLogin_Test.setup()[pri:0, instance:AdminLogin_Test@1ac385a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@9196680</td>   <td></td> </tr>
<tr bgcolor="76756c">  <td>14/04/08 15:56:27</td>   <td>12307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminLogin_Test.adminTest()[pri:0, instance:AdminLogin_Test@1ac385a]">adminTest</td> 
  <td>main@9196680</td>   <td></td> </tr>
<tr bgcolor="76756c">  <td>14/04/08 15:56:39</td>   <td>24320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AdminLogin_Test.tearDown()[pri:0, instance:AdminLogin_Test@1ac385a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@9196680</td>   <td></td> </tr>
</table>
