<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b29e72">  <td>14/04/08 14:10:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminLogin_Test.setup()[pri:0, instance:AdminLogin_Test@17e8a35]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@9196680</td>   <td></td> </tr>
<tr bgcolor="b29e72">  <td>14/04/08 14:10:12</td>   <td>7150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminLogin_Test.adminTest()[pri:0, instance:AdminLogin_Test@17e8a35]">adminTest</td> 
  <td>main@9196680</td>   <td></td> </tr>
<tr bgcolor="b29e72">  <td>14/04/08 14:10:21</td>   <td>15823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AdminLogin_Test.tearDown()[pri:0, instance:AdminLogin_Test@17e8a35]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@9196680</td>   <td></td> </tr>
</table>
